.container {
  width: 100%;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
}

@media (max-width: 500px) {

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }
}
