.container {
  width: 100%;
  margin-top: 3%;
  padding: 2%;
  background: rgb(247, 241, 241);
  border-radius: 20px;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: 200;
  text-align: justify;
}

.info {
  padding: 0 5%;
}

#mision {
  border-right: 0.5px solid rgb(196, 189, 189);
}

@media (max-width: 991px) {
  #mision {
    border-right: none;
    border-bottom: 0.5px solid rgb(196, 189, 189);
  }

  .info {
    padding: 3% 3%;
  }
}
