<div class="container">
  <h1>¿Qué es la fotobiología?</h1>
  <p>La fotobiología está ampliamente definida para incluir todos los fenómenos biológicos que involucran radiación no ionizante. Se ha encontrado que todas las respuestas fotobiológicas son el resultado de cambios químicos y/o físicos inducidos en los sistemas biológicos por la radiación no ionizante.</p>
  <p>El objetivo de la fotobiología es entender los mecanismos básicos involucrados en este tipo de fenómenos, esto puede ser utilizado para:</p>
  <ul>
    <li>
      Desarrollar maneras para controlar los efectos beneficiosos de la luz de nuestro entorno.
    </li>
    <li>
      Promover caminos para proteger en contra de los efectos perjudiciales de la luz en los organismos biológicos.
    </li>
    <li>
      Desarrollar herramientas y técnicas fotoquímicas para su uso en investigación, medicina e industria.
    </li>
  </ul>
  <h2>Divisiones de la fotogiología</h2>
  <p>La fotobiología puede ser dividida en 13 áreas mayores de especialidad. Doce de ellas se enfocan en la absorción de la luz en los sistemas biológicos, mientras que una está enfocada en la emisión de la luz por los sistemas biológicos (bioluminiscencia). Estas áreas se definen brevemente a continuación:</p>
</div>
<app-divisions></app-divisions>
