<div class="container">
  <h1>La Terapia Fotodinámica</h1>
  <h2>Dr. Luis Felipe Hernández Quintanar</h2>
  <p>La Terapia Fotodinámica (PDT) ha emergido como un tratamiento promisorio del cáncer y otras
    enfermedades que está basada en la activación de un agente químico externo llamado fármaco
    fotosensibilizador, el cual al ser activado mediante luz de una longitud de onda específica (esto es,
    de un color particular), contribuye a la formación de especies reactivas de oxígeno (o radicales
    libres de oxígeno) que destruyen de forma localizada las células cancerígenas, así como también se
    ha visto que puede ser utilizada para la desactivación de virus y la destrucción de bacterias y
    hongos.</p>
  <p>A esta terapia se le puede considerar como un tipo de quimioterapia, pero a diferencia de esta que
    tiene un efecto sobre todo el organismo, es localizada en el área a tratar como una terapia de
    radiación; por tanto, puede decirse que toma lo mejor de ambas terapias además de evitar sus
    efectos secundarios ya que por un lado al utilizar luz, la cual es un tipo de radiación no ionizante,
    evita los problemas a mediano y largo plazo que produce en la salud, y por otra parte los fármacos
    fotosensibilizadores que se han desarrollado son de rápida eliminación y se distribuyen de manera
    específica y homogénea en el tejido a tratar evitando el daño al tejido sano y las consecuentes
    molestias que en general producen los fármacos utilizados en quimioterapia.
  </p>
  <div class="imageVertical">
    <img src="../../../assets/images/PDT.jpeg" alt="">
    <span>Figura 1 Principio básico de la PDT</span>
  </div>
  <p>Por lo tanto, para la aplicación de esta terapia se requiere de la presencia esencial de tres
    elementos: la luz, el fármaco fotosensibilizador y el oxígeno, los cuales durante la aplicación del tratamiento se encuentran en constante interacción. Esto conduce a que la selección correcta de
    las dosis a aplicar tanto del fármaco como de iluminación sea una tarea complicada de realizar,
    puesto que con dosis demasiado bajas se produce un daño que puede ser fácilmente autoreparado, mientras que a dosis demasiado altas se produce un agotamiento del oxígeno en el
    tejido que disminuye la eficiencia. De esta forma, se puede decir que lo ideal sería administrar la
    suficiente luz de manera homogénea y una cantidad óptima de fármaco, sin embargo las
    variaciones de organismo a organismo e incluso de lugar a lugar en la concentración del fármaco,
    las diferencias en la penetración de la luz en los tejidos y la dinámica del oxígeno en los mismos,
    dificultan la adecuada selección de estos parámetros.
  </p>
  <p>Es a partir de lo anterior que se han desarrollado varias tecnologías para la medición de todos los
    parámetros que afectan la terapia antes y durante su aplicación. En primer lugar, el control de las
    fuentes de iluminación, que anteriormente al tratarse de lámparas con filtros era muy
    rudimentario, sin embargo con el desarrollo de nuevas fuentes de luz como los láseres de
    semiconductores (como los que se encuentran en los apuntadores) y los diodos emisores de luz
    (comúnmente conocidos como LEDs) de alta potencia, permiten que el control de la iluminación
    sea mucho más fino. Por otro lado, la profundidad de penetración de la luz en el tejido está
    fuertemente relacionada con el tipo de tejido y por ello en ocasiones la profundidad alcanzada es
    pequeña en comparación con terapias de radiación ionizante, sin embargo con el desarrollo de
    elementos como fibras ópticas que permiten “transportar” luz en fibras de espesores de
    micrómetros (del espesor de un cabello o incluso menor), es posible irradiar un tumor desde
    dentro del mismo.</p>
  <div class="imageHorizontal">
    <img src="../../../assets/images/Aplicacion fotodinamica.jpeg" alt="">
    <span>Figura 2 Aplicación de la Terapia Fotodinámica utilizando fibras ópticas y LEDs</span>
  </div>
  <p>Por otra parte, la medición de la dinámica del fotosensibilizador durante la aplicación de la terapia
    es posible de realizar de manera óptica, ya que estos fármacos presentan un fenómeno conocido
    como fluorescencia al ser irradiados con luz más energética (como la UV, violeta o azul), aunado a
    que se han desarrollado sensores de iluminación cada más sensibles, es posible realizar la
    monitorización del comportamiento del fármaco en el tejido durante la terapia y ajustar los
    parámetros de iluminación.</p>
    <div class="imageVertical">
      <img src="../../../assets/images/Fluorescencia lesion.jpeg" alt="">
      <span>Figura 3. Fluorescencia emitida de una lesión tratada con un fármaco fotosensibilizador.</span>
    </div>
  <p>Finalmente, la monitorización de la concentración de oxígeno en el tejido, puede llevarse a cabo,
    de la misma forma que los anteriores, por método ópticos, por ejemplo al detectar la saturación
    de oxígeno en la sangre, la cual es una técnica utilizada regularmente en hospitales conocida como
    pulsioximetría, la cual toma en consideración la diferencia de absorción de la luz de la sangre
    oxigenada y la no oxigenada y así también, modificar la intensidad luminosa de acuerdo a si el
    tejido se encuentra bien oxigenado o no.</p>
  <p>De esta forma, se observa que tanto la terapia como su monitorización pueden realizarse por
    medios ópticos que pueden ser no o mínimamente invasivos, además de que la correcta medición
    de los parámetros involucrados mejoraría sustancialmente la eficacia de esta terapia, sin embargo
    aún hay una gran cantidad de variables involucradas que se desconocen, por lo que se requiere de
    investigación para dilucidar todos los detalles de la terapia y convertirla en una herramienta eficaz
    para el tratamiento de enfermedades.</p>
</div>
