<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <app-links></app-links>
    </div>
    <div class="col-lg-8">
      <h1>Fotobiología</h1>
      <p>La radiación no ionizante produce estados excitados en las moléculas debido a la absorción de uno o más fotones. Las moléculas en estado excitado pueden reaccionar con moléculas adyacentes, pero lo más frecuente es que experimenten cambios fotoquímicos y fotofísicos dentro de su propia estructura molecular. La radiación no ionizante se agrupa en tres regiones principales: radiación ultravioleta (UV) (longitudes de onda cortas que no son visibles para el hombre), radiación visible (longitudes de onda más largas que la radiación UV) y la radiación infrarroja (longitudes de onda aún más largas y tampoco visibles para el hombre).</p>
      <p>La región UV generalmente se divide en tres regiones (especialmente en aplicaciones de fotomedicina), es decir, la región UV-C, que generalmente se define como una región de longitud de onda de 100-280 nanómetros (nm), la región UV-B como 280- 320 nm, y la región UV-A como 320-400 nm. Otros términos comúnmente utilizados para la región UV son Far-UV (210-300 nm) y Near-UV (300-380 nm).</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11">
      <p>La región visible generalmente se define como 400-760 nm, y la región infrarroja se encuentra por encima de 760 nm.</p>
      <div class="img">
        <img class="espectro" src="../../../../assets/images/info/espectro.png" alt="">
        <span>Longitudes de onda</span>
      </div>
    </div>
  </div>
  <div class="row separaciondiv">
    <div class="col-lg-3">
      <div class="img">
        <img class="separacion" src="../../../../assets/images/info/dispersionLuz.gif" alt="">
        <span>Longitudes de onda</span>
      </div>
    </div>
    <div class="col-lg-5">
      <p>La luz está compuesta de fotones y se propaga en forma de ondas. La longitud de onda es la distancia que recorre una perturbación periódica que se propaga por un medio en un ciclo. Los fotones en cada longitud de onda tienen diferentes energías; cuanto más corta es la longitud de onda (nm), mayor es la energía.</p>
    </div>
  </div>
  <div class="row ozonodiv">
    <div class="col-lg-6">
      <p>La longitud de onda más corta de la luz solar que llega a la superficie de la tierra es de unos 295 nm. Las longitudes de onda más cortas que esta son filtradas por la capa de ozono estratosférico. Si la capa de ozono se atenúa, más radiación ultravioleta de longitud de onda corta llegará a la tierra y tendrá un profundo efecto nocivo en el hombre, los animales, las plantas y otros organismos. El sol tiene efectos perjudiciales y beneficiosos sobre los organismos, y todos los organismos han desarrollado estrategias de defensa (conductuales y bioquímicas) para protegerse de las longitudes de onda e intensidades dañinas, mientras optimizan la recepción de las longitudes de onda e intensidades beneficiosas.</p>
    </div>
    <div class="col-lg-4">
      <div class="img">
        <img class="ozono" src="../../../../assets/images/info/capaOzono.JPG" alt="">
        <span>Capa de ozono</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>En general, el término "luz" se usa para definir aquellas longitudes de onda que son visibles para el hombre, aunque otros organismos pueden "ver" en la región ultravioleta. Sin embargo, no es raro que algunas personas utilicen el término "luz ultravioleta". La radiación UV es el término preferido.

        Dado que la vida en la Tierra evolucionó bajo el sol, cuyo flujo de fotones terrestres ("intensidad") es mayor entre 400 nm y 800 nm, no debería sorprender que la mayoría de las respuestas biológicas a la luz sean inducidas por radiación entre 400 nm y 800 nm. Muy poca radiación por debajo de 300 nm llega a la superficie de la tierra, debido a su absorción por el ozono estratosférico; muy poca radiación por encima de 1000 nm llega a la superficie de la tierra porque la emisión del sol es baja en esta región y porque el agua atmosférica absorbe fuertemente por encima de 1000 nm.
        </p>
        <div class="img">
          <img class="luz" src="../../../../assets/images/info/espectroLuzTierra.png" alt="">
          <span>Espectro de luz Tierra</span>
        </div>
    </div>
  </div>
</div>
