nav {
  background: #229ED9;
  border-bottom: 1px solid rgb(216, 213, 213);
}

img {
  width: 65px;
  object-fit: fill;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 20px;
}

li {
  font-size: 120%;
}
